.climateButton {
  background: #d6e1e3;
  margin-top: -8rem;
  position: relative;
}

h1 {
  text-align: center;
}

.footer-middle {
  background: #3d6962;
  padding: 3rem;
}

.box {
  background: rgb(241, 245, 247);
  margin-top: 10rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2rem;
  border-radius: 0.5rem;
}

.box-graph {
  background: rgb(241, 245, 247);
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  padding-top: 3rem;
  padding-bottom: 5rem;
  border-radius: 0.5rem;
}
.content {
  padding-top: -20rem;
  background: #c3d2d7;
}

.table-word {
  margin: 6rem;
}

h3 {
  letter-spacing: 0.125rem;
}

.containerStart {
  position: relative;
}

.containerStart .button {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #278b8d;
  padding: 1rem;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
}

.test-knapp:hover {
  background-color: #50a3a3;
  color: #fff;
  font-size: 17px;
}

.fossilButton {
  position: absolute;
  top: 13.5%;
  left: 23%;
  background-color: #278b8d;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
}

.fossilButton:hover {
  background-color: #18a6a7;
  font-size: 17px;
}

.tempButton {
  position: absolute;
  top: 13.5%;
  left: 47%;
  background-color: #ce8026;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
}

.tempButton:hover {
  background-color: #eb9d34;
  font-size: 17px;
}

.glacierButton {
  position: absolute;
  top: 13.5%;
  left: 37%;
  background-color: #84b393;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
}

.glacierButton:hover {
  background-color: #8ecbac;
  font-size: 17px;
}

.seaButton {
  position: absolute;
  top: 13.5%;
  left: 63%;
  background-color: #f2cf33;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
}

.seaButton:hover {
  background-color: #f4de54;
  font-size: 17px;
}

.fossilimage {
  width: 70%;
  margin-top: 5rem;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

.glacierimage {
  width: 70%;
  margin-top: 6rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tempimage {
  width: 70%;
  margin-top: 12rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.seaimage {
  width: 70%;
  margin-top: 9rem;  
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.siggefossil {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 180px;
}

.descriptionCo2 {
  text-align: left;
  font-weight: bold;
  margin-left: 4em;
  text-decoration: underline;
}

.descriptionYear {
  text-align: right;
  margin-top: -4rem;
  margin-right: 2rem;
  font-weight: bold;
  text-decoration: underline;
}


.logo {
  width: 9%;
}

.boxsigge {
  margin-top: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2rem;
  border-radius: 0.5rem;
}

.divlogo {
  margin-top: 0.6rem;
  margin-left: 40px;
}
