/* :root {
    --mainDark: #343a40;
    --mainGrey: rgba(109, 109, 109);
    --mainLightGrey: rgba(172, 172, 172);
    --mainWhite: #ffffff;
    --mainBlue: #007bff;
} */

.footer-middle{
    background: #3d6962;
    padding: 3rem;
}

.omOss-sida{
    background: #dbefe1;
    margin: 1rem;
    padding: 2rem;
    border-radius: 0.5rem;
}

.container{
    padding: 3rem;
    line-height: 1.6;
}

.table-word{
   margin: 6rem;
    
}

h3 {
    letter-spacing: 2px;
}

/* Container needed to position the button. Adjust the width as needed */
.containerStart {
    position: relative;
  }
  
  
  /* Style the button and place it in the middle of the container/image */
  .containerStart .test-knapp {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #278b8d;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
  }
  
  .test-knapp:hover {
    background-color: #50a3a3;
    color: #fff;
    font-size: 17px;
}

.climateButton {
    position: static;

}